{% extends 'admin/admin_base.html.j2' %}

{% block content %}
<h1>Please login</h1>
<form method="POST">
    <input class="form-control"
           type="text"
           name="username"
           placeholder="Username"
           required="true"/>
    <input class="form-control"
           type="password"
           name="password"
           placeholder="Password"
           required="true"/>

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
    <button class="btn btn-primary btn-block" type="submit">Login</button>
</form>
{% endblock %}
