{% extends 'admin/admin_base.html.j2' %}

{% block content %}
    <h1>Subscribers</h1>

    <table class="table table-hover" id="subscribers">
        <thead>
            <tr>
                <th>ID</th>
                <th><a href="?sort={{ name_sort }}">Name</a></th>
                <th><a href="?sort={{ email_sort }}">Email</a></th>
                <th>Topics</th>
                <th><a href="?sort={{ created_at_sort }}">Subscribed at</a></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscribers %}
                <tr>
                    <td>{{ sub.id }}</td>
                    <td>{{ sub.name }}</td>
                    <td>{{ sub.email }}</td>
                    <td>
                    {% for topic in sub.topics %}
                        {{ topic.title }}
                    {% endfor %}
                    </td>
                    <td>{{ sub.created_at }}</td>
                    <td>
                        <a href="{{ request.route_path("admin_subscriber_edit", subscriber_id=sub.id) }}">Edit</a>
                        <a href="{{ request.route_path("admin_subscriber_delete", subscriber_id=sub.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block custom_js %}
var app = new Vue({
    el: "#subscribers",
    data: {
    },
    methods: {
        sort: function(by){
            console.log("Sort by "+ by);
        }
    }

})
{% endblock %}
