{% extends 'admin/admin_base.html.j2' %}

{% block content %}
    <form method="POST">

        <input class="form-control"
               type="text"
               name="name"
               placeholder="Name"
               required="true"
               value="{{ subscriber.name }}"/>

        <input class="form-control"
               type="text"
               name="email"
               placeholder="Email"
               required="true"
               value="{{ subscriber.email }}"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
{% endblock %}
