{% extends 'admin/admin_base.html.j2' %}
{% block local_menu %}
    <a href="/admin/topics/create">Create</a>
{% endblock %}
{% block content %}
    
    <h1>Topics</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
                <tr>
                    <td>{{ topic.id }}</td>
                    <td>{{ topic.title }}</td>
                    <td>{{ topic.active }}</td>
                    <td>
                        <a href="{{ request.route_path("admin_topic_edit", topic_id=topic.id) }}">Edit</a>
                        <a href="{{ request.route_path("admin_topic_delete", topic_id=topic.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

