{% extends 'admin/admin_base.html.j2' %}

{% block content %}
    <form method="POST">

        <input class="form-control"
               type="text"
               name="title"
               placeholder="Title"
               required="true"
               value="{{ topic.title }}"/>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"
                       type="checkbox"
                       name="active"
                       value="1"
                       {% if topic.active %}checked{% endif %}/>
                Active
            </label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
{% endblock %}
