<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block site_title %}
            Metasite Lab - 
                {% block page_title %}
                {% endblock %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            {% block menu %}
            {% if request.user %}
                <a href="{{ request.route_path('subscribe') }}">Home</a>
                <a href="{{ request.route_path('admin_subscribers') }}">Subscriptions</a>
                <a href="{{ request.route_path('admin_topics') }}">Topics</a>
                <small>
                {% block local_menu %}
                {% endblock %}
                </small>
                <a href="{{ request.route_path('admin_logout') }}">Logout</a>
            {% else %}
                <a href="{{ request.route_path('admin_login') }}">Login</a>
            {% endif %}
            {% endblock %}

        </nav>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript">
            {% block custom_js %}
            {% endblock %}
        </script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
