{% extends 'base.html.j2' %}

{% block page_title %}
    Subscribe
{% endblock %}

{% block content %}
    <h1>Subscribe</h1>
    <form method="POST" id="subscribe">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input id="nameInput"
                   class="form-control"
                   placeholder="Your name..."
                   name="name"
                   type="text"
                   required="true"/>
        </div>

        <div class="form-group">
            <label for="emailInput">Email</label>
            <input id="emailInput"
                   class="form-control"
                   placeholder="you@email.com"
                   name="email"
                   type="email"
                   required="true"/>
        </div>

        <div class="form-group">
            <label for="topicsList">Topics</label>
            <div class="form-check">
                {% for topic in topics %}
                    <label class="form-check-label">
                        <input class="form-check-input"
                               type="checkbox"
                               value="{{ topic.id }}"
                               v-model="topics"/>
                        {{ topic.title }}
                    </label>
                {% endfor %}
            </div>
            <input type="hidden" name="topics" v-bind:value="topics"/>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <button class="btn btn-success" type="submit" :disabled="topics.length == 0">Subscribe</button>

    </form>
{% endblock %}


{% block custom_js %}
var app = new Vue({
    el: '#subscribe',
    data: {
        topics: []
    }
})
{% endblock %}
